<!DOCTYPE html>
<html lang="en">

<head>
    <title>Calculator History</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p style="color:rgb(3, 6, 19);text-align:center;font-size:40px;"><u><b>Calculator History</b></u></p>
            <br>
            <br>
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <tbody>
                    <tr>
                        {% for data in currentSessionData %}
                        <td>{{ data }}</td>
                    </tr>
                    {% endfor %}
                    </tfoot>
            </table>
            <br>
            <br>
            <br>
            <a href="/" class="btn btn-primary btn-lrg" role="button">Calculator</a>
            <div class="col-md-4"></div>
        </div>
</body>

</html>